/* Reset default style and set padding and margin to zero */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* White text throughout */
body {
  background: linear-gradient(to left, #6600cc 0%, #0099cc 100%);
  font-family: 'Arial', sans-serif;
  color: white; /* Set text color to white */
}

/* Header Styles */
header {
  background-color: #878f99;
  color: #fff;
  padding: 10px;
  text-align: center;
}

h1 {
  margin: 0;
}

/* Main Section Styles */
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

h3,
h2,
h4 {
  margin: 5px 0;
}

button {
  background-color: #ff7b25;
  color: #fff;
  padding: 8px 16px;
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.10s, color 0.30s;
}

/* Navigation Styles */
.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav-list li {
  margin-bottom: 10px;
}

/* Project Section Styles */
.project-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-box {
  position: relative;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  padding-top: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background: linear-gradient(45deg, #8e44ad, #9b59b6, #a349a4, #943bea);
}

.project-box:hover {
  transform: scale(1.1);
}

.project-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

/* Footer Styles */
footer {
  background-color: #878f99;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.copyright,
.contact-info {
  margin-top: 10px;
}

/* Media Query for larger screens */
@media only screen and (min-width: 600px) {
  #main {
    flex-direction: row;
  }

  article {
    margin-right: 20px;
  }

  .nav-list {
    text-align: left;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

  .project-box {
    width: calc(33.33% - 20px);
  }
}
