/* Mobile Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  background: linear-gradient(to right, blue, purple);
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.logo {
  margin-left: 20px;
  padding: 4px;
}

.logo-image {
  width: 75px;
  height: auto;
}

.nav {
  flex: 1;
}

.nav-tab {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  wrap-direction: row;
  justify-content: center;
}

.nav-item {
  margin: 0 20px;
  padding: 8px 16px;
}

.nav-link {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.login {
  margin-right: 20px;
}

.icon {
  color: white;
  font-size: 30px;
  margin-right: 10px;
}
.login-button
  color: white;
  border: 1px solid white;
  button-radius: 50px
  padding: 8px 16px;
  cursor: pointer;
}

.button {
  color: white;
  border: 1px solid white;
  button-radius: 50px
  padding: 8px 16px;
  cursor: pointer;
}

.login-button:hover, .button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: 100px;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.container {
  width: 100%;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.container:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.title {
  font-weight: bold;
  text-align: center;
}

.image, .profile {
  object-fit: cover
  position: relative;
  top: 0;
  left: 0;
  width: 200px;
  height: auto;
  border-radius: 16px;
}

.description {
  padding: 8px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 8px 16px;
  button-radius: 50px
}

/* Tablet Styles */
@media screen and (min-width: 769px) {
  .nav {
    display: flex;
  }

  .logo, .login {
    margin: 0 auto;
  }

  .container {
    width: 48%;
  }
}

/* Desktop Styles */
@media screen and (min-width: 1024px) {
  .container {
    width: 30%;
  }
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.pdf {
  width: 80%;
  height: 80%;
  margin: 10% auto;
}

#close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 80px;
}

/* Responsive Container Styles */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.left {
  color: white;
}

.right {
  display: flex;
  gap: 10px;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
/* Add these styles for the footer */
#footer {
  background-color: black;
  padding: 8px 16px; /* 8px top and bottom, 16px on the sides */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white; /* Set text color to white */
}

footer div {
  /* Additional styles for the copyright text inside the footer */
  font-weight: bold;
}

    .responsive-image {
      max-width: 100%;
      height: auto;
    }
